[package]
name = "up-client-zenoh"
version = "0.1.0"
edition = "2021"

[lints.clippy]
all = "deny"
pedantic = "deny"
#cargo = "deny"
#restriction = "deny"
#nursery = "deny"

[dependencies]
anyhow = "1.0.75"
async-std = "1.12.0"
async-trait = "0.1"
chrono = "0.4.31"
env_logger = "0.10.0"
log = "0.4.17"
prost = "0.12"
prost-types = "0.12"
protobuf = { version = "3.3" }
# upstream
# up-rust = { git = "https://github.com/eclipse-uprotocol/up-rust", rev = "68c8a1d94f0006daf4ba135c9cbbfddcd793108d" }
# feature/ulistener_generics
up-rust = { git = "https://github.com/PLeVasseur/uprotocol-rust_fork", branch = "feature/ulistener_instance_specific" }
zenoh = { version = "0.10.1-rc", features = ["unstable"]}
