# ********************************************************************************
#  Copyright (c) 2024 Contributors to the Eclipse Foundation
#
#  See the NOTICE file(s) distributed with this work for additional
#  information regarding copyright ownership.
#
#  This program and the accompanying materials are made available under the
#  terms of the Apache License Version 2.0 which is available at
#  https://www.apache.org/licenses/LICENSE-2.0
#
#  SPDX-License-Identifier: Apache-2.0
# *******************************************************************************/

name: Nightly

on:
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  check-msrv:
    uses: ./.github/workflows/verify-msrv.yaml

  check-latest-deps:
    uses: ./.github/workflows/verify-latest-deps.yaml

  test-all-features:
    uses: ./.github/workflows/test-featurematrix.yaml

  x-build:
    # The jury is still out on whether this actually adds any value, besides simply being possible...
    uses: ./.github/workflows/x-build.yaml

  coverage:
    uses: ./.github/workflows/coverage.yaml
